Repository SPRIME01/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, shellcheck-local, markdownlint-local

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML in docs/
        entry: scripts/check-yaml.sh
        language: system
        files: ^docs/.*\.(ya?ml)$
        pass_filenames: false
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: shellcheck-local
        name: Local ShellCheck (or fallback)
        entry: scripts/run-shellcheck.sh
        args: ['--severity=error']
        language: system
        files: '\.(sh|bash)$'

  - repo: local
    hooks:
      - id: shellcheck-local
        name: Local ShellCheck (or fallback)
        entry: scripts/run-shellcheck.sh
        args: ['--severity=error']
        language: system
        files: '\.(sh|bash)$'
      - id: markdownlint-local
        name: Local MarkdownLint (or noop)
        entry: scripts/run-markdownlint.sh
        language: system
        files: '\.md$'

Add bootstrap configuration and tests for mise and devbox
  .envrc
  .mise.toml
  .tests/bootstrap/devbox.test.py
  .tests/bootstrap/envrc.test.py
  .tests/bootstrap/mise.test.py
  devbox.json
  docs/Bootstrap Documentation.md
Due: markdownlint-local

Add SOPS secrets management with age encryption
  .github/workflows/sops-ci.yml
  .gitignore
  .sops.yaml
  docs/Secrets Management.md
  infra/example.env
  infra/example.env.sops
  scripts/generate-keys.sh
  scripts/install-sops-age-wsl2.sh
  tests/01_non_homelab_decrypt.sh
  tests/02_sops_yaml_schema.sh
  tests/03_round_trip_homelab.sh
  tests/run-tests.sh
Due: shellcheck-local, markdownlint-local

Implement homelab automation with safety guards and CI validation
  .envrc
  .github/workflows/ci-validate.yml
  devbox.json
  devbox.lock
  docs/Automation.md
  justfile
  tests/04_just_safety_guards.sh
  tests/run-tests.sh
Due: shellcheck-local, markdownlint-local

feat: Add Tailscale integration and related scripts
  .envrc
  .gitignore
  .sops.yaml
  docs/Explanations/.GITKEEP
  docs/Howto/.GITKEEP
  docs/Reference/.GITKEEP
  docs/Reference/example.tailscale-acl.json
  docs/Tailscale-ACL.md
  docs/Tailscale.md
  docs/Tutorial/.GITKEEP
  infra/example.env
  infra/example.env.sops
  infra/tailscale-acl.clean.json
  infra/tailscale.env.sops
  justfile
  scripts/generate-tailscale-authkey.sh
  scripts/install-tailscale-wsl2.sh
  scripts/tailscale-join.sh
  tests/05_tailscale_ssh_guards.sh
  tests/run-tests.sh
Due: shellcheck-local, markdownlint-local

feat: Add Ansible and Pulumi infrastructure bootstrap with validation tests
  .github/copilot-instructions.md
  .gitignore
  .mise.toml
  .sops.yaml
  devbox.json
  docs/Infra Toolkit.md
  infra/ansible-bootstrap/.ansible-lint
  infra/ansible-bootstrap/.yamllint
  infra/ansible-bootstrap/ansible.cfg
  infra/ansible-bootstrap/inventory/homelab.yml
  infra/ansible-bootstrap/library/inventory_utils.py
  infra/ansible-bootstrap/molecule/default/converge.yml
  infra/ansible-bootstrap/molecule/default/molecule.yml
  infra/ansible-bootstrap/molecule/default/prepare.yml
  infra/ansible-bootstrap/molecule/default/tests/test_default.py
  infra/ansible-bootstrap/molecule/default/verify.yml
  infra/ansible-bootstrap/playbooks/deploy.yml
  infra/ansible-bootstrap/requirements.txt
  infra/example.ansible.env
  infra/example.env
  infra/example.envrc
  infra/example.pulumi.env
  infra/pulumi-bootstrap/.gitignore
  infra/pulumi-bootstrap/Pulumi.dev.yaml
  infra/pulumi-bootstrap/Pulumi.yaml
  infra/pulumi-bootstrap/index.ts
  infra/pulumi-bootstrap/package.json
  infra/pulumi-bootstrap/tsconfig.json
  justfile
  tests/06_pulumi_project_validation.sh
  tests/07_ansible_molecule_validation.sh
  tests/08_infra_guards.sh
  tests/09_tailscale_ssh_verification.sh
  tests/run-tests.sh
Due: shellcheck-local, markdownlint-local

feat: Add encryption salt to Pulumi development configuration
  infra/pulumi-bootstrap/Pulumi.dev.yaml
Due: none

feat: Configure Pulumi for XDG-style local state management and update documentation
  .envrc
  devbox.json
  docs/Infra Toolkit.md
  infra/example.envrc
  infra/pulumi-bootstrap/Pulumi.yaml
  justfile
Due: markdownlint-local

feat(docs): Add bootstrap and infrastructure configuration documentation
  .github/copilot-instructions.md
  .github/workflows/nx-validate.yml
  README.md
  docs/Explanations/Automation.md
  docs/Explanations/Secrets-Management.md
  docs/Explanations/Tailscale-ACL.md
  docs/Explanations/Tailscale.md
  docs/Howto/Bootstrap this Project.md
  docs/Howto/Complete Infrastructure Configuration.md
  docs/Howto/Run Nx Distributed Task Execution.md
  docs/Plans/reorg_docs.plan.md
  docs/Tutorials/.GITKEEP
  docs/todo.md
  packages/pulumi-bootstrap/project.json
  packages/pulumi-bootstrap/tsconfig.json
  packages/pulumi-bootstrap/tsconfig.lib.json
  scripts/generate-keys.sh
  scripts/nx-agent-health-monitor.sh
  scripts/nx-agent-restart.sh
  scripts/nx-cache.service
  tsconfig.base.json
Due: shellcheck-local, markdownlint-local

feat: Add pytest-molecule dependency to requirements
  infra/ansible-bootstrap/requirements.txt
Due: none

docs: Add comprehensive guides for key generation, Ansible setup, and troubleshooting
  .envrc
  .github/copilot-instructions.md
  .tests/example.test.py
  .vscode/tasks.json
  README.md
  devbox.lock
  docs/Explanations/Nx-Distributed-Architecture.md
  docs/Explanations/Security-Model.md
  docs/Explanations/System-Architecture.md
  docs/Explanations/Test-Exit-Code-Convention.md
  docs/Howto/Add-New-Homelab-Node.md
  docs/Howto/Add-New-Nx-Project.md
  docs/Howto/Bootstrap this Project.md
  docs/Howto/Complete Infrastructure Configuration.md
  docs/Howto/Deploy-Infrastructure.md
  docs/Howto/Encrypt-New-Secrets.md
  docs/Howto/Generate-And-Rotate-Keys.md
  docs/Howto/Run Nx Distributed Task Execution.md
  docs/Howto/Setup-Ansible.md
  docs/Howto/Setup-Development-Environment.md
  docs/Howto/Setup-Pulumi.md
  docs/Howto/Troubleshoot-Common-Issues.md
  docs/README.md
  docs/Reference/Branded-Types-API.md
  docs/Reference/Environment-Variables.md
  docs/Reference/Justfile-Recipe-Index.md
  docs/Reference/Test-Suite-Index.md
  docs/Reference/Tool-Versions.md
  docs/Tutorials/Build-A-Typed-Infrastructure-Module.md
  docs/Tutorials/Setup-Three-Node-Distributed-Build.md
  docs/Tutorials/Your-First-Deployment.md
  package.json
  packages/homelab-types/src/index.test.ts
  packages/homelab-types/vitest.config.ts
  pytest.ini
  vitest.config.ts
  vitest.workspace.ts
Due: markdownlint-local

feat(docs): Update Setup-Ansible.md to include UTF-8 locale configuration and version updates
  docs/Howto/Setup-Ansible.md
Due: markdownlint-local

fix(docs): Correct locale export command in Setup-Ansible.md
  docs/Howto/Setup-Ansible.md
Due: markdownlint-local

feat(docs): Add comprehensive plan for converting Homelab to Copier template with validation and update strategies
  docs/Plans/copier_dev.plan.md
Due: markdownlint-local

feat: add project name validation and related tests
  extensions/__pycache__/validators.cpython-313.pyc
  extensions/validators.py
  hooks/__pycache__/pre_copy.cpython-313.pyc
  hooks/pre_copy.py
  template/hooks/pre_copy.py
  template/tests/08_infra_guards.sh
  template/tests/python/test_pre_copy.py.j2
  template/tests/python/test_pre_copy.py.jinja
  tests/08_infra_guards.sh
  tests/python/__pycache__/test_pre_copy.cpython-313-pytest-9.0.1.pyc
  tests/python/__pycache__/test_template_generation.cpython-313-pytest-9.0.1.pyc
  tests/python/__pycache__/test_validators.cpython-313-pytest-9.0.1.pyc
  tests/python/test_pre_copy.py
  tests/python/test_template_generation.py
  tests/python/test_validators.py
Due: shellcheck-local

feat(docs): Enhance testing documentation for Copier template and Python code
  README.md
  docs/Howto/Setup-Development-Environment.md
  docs/Howto/Troubleshoot-Common-Issues.md
  docs/Reference/Template-Testing.md
Due: markdownlint-local

Fix template tests and CI tooling
  .vscode/tasks.json
  infra/ansible-bootstrap/molecule/default/requirements.txt
  infra/ansible-bootstrap/molecule/default/requirements.yml
  infra/example.env
  package.json
  packages/homelab-types/src/index.test.ts
  packages/pulumi-bootstrap/tsconfig.json
  pipes.py
  pytest.ini
  template/pipes.py
  vitest.workspace.ts
Due: none

molecule: use shell dependency (command: true) in tests to avoid Galaxy network calls
  infra/ansible-bootstrap/molecule/default/molecule.yml
Due: none

molecule: use 'enabled: False' instead of shell no-op (cleaner idiom)
  infra/ansible-bootstrap/molecule/default/molecule.yml
Due: none

docs: Update Copilot instructions and README for dual test systems and template enhancements
  .github/copilot-instructions.md
  README.md
Due: markdownlint-local

docs: Add guide for creating a new development machine from the Copier template
  docs/Howto/Create-Dev-Machine.md
Due: markdownlint-local

docs: Add Tailscale and SSH setup instructions for homelab hosts
  docs/Howto/Create-Dev-Machine.md
Due: markdownlint-local

docs: Add CLAUDE.md for future Claude Code instances
  CLAUDE.md
Due: markdownlint-local

chore: Migrate from Node.js/pnpm to Bun 1.2.36
  .claude/settings.local.json
  .github/workflows/nx-validate.yml
  .mise.toml
  CLAUDE.md
  README.md
  copier.yml
  justfile
  nx.json
  package.json
  packages/homelab-types/package.json
  packages/pulumi-bootstrap/package.json
  pnpm-workspace.yaml
  scripts/nx-agent-restart.sh
  tests/06_pulumi_project_validation.sh
  tests/10_nx_distributed_validation.sh
Due: shellcheck-local, markdownlint-local

docs: Update all documentation for Bun 1.2.36 migration
  .claude/settings.local.json
  .github/copilot-instructions.md
  docs/Explanations/Nx-Distributed-Architecture.md
  docs/Explanations/System-Architecture.md
  docs/Howto/Add-New-Nx-Project.md
  docs/Howto/Create-Dev-Machine.md
  docs/Howto/Setup-Pulumi.md
  docs/Reference/Tool-Versions.md
  docs/Tutorials/Build-A-Typed-Infrastructure-Module.md
  docs/Tutorials/Setup-Three-Node-Distributed-Build.md
  docs/Tutorials/Your-First-Deployment.md
Due: markdownlint-local

test: Upgrade to Nx 22.0.3 for @nx-extend/pulumi compatibility
  .claude/settings.local.json
  .mise.toml
  bun.lock
  copier.yml
  docs/Reference/Tool-Versions.md
  nx.json
  package.json
Due: markdownlint-local

feat: Update Copier template for Bun + Nx 22 + @nx-extend/pulumi
  template/package.json.j2
  template/package.json.jinja
  template/packages/homelab-types/package.json.j2
  template/packages/pulumi-bootstrap/package.json.j2
Due: none

chore: Add .omc to .gitignore for local omc file exclusion
  .gitignore
Due: none

feat: Add Nx MCP configuration files and guidelines to AGENTS.md and CLAUDE.md
  .gemini/settings.json
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: markdownlint-local

Refactor code structure for improved readability and maintainability
  .claude/settings.local.json
  docs/Plans/whole_system.md
Due: markdownlint-local
